.reviews-outline {
  outline: 1px solid black;
  background: #03a9f4;
  padding: 15px;
  height: 100vh;
}
.main-holder .header {
  text-align: center;
}
.main-holder .header h2 {
  text-align: center;
  padding: 2%;
  color: #fff;
  font-weight: 900;
  font-size: 4em;
  text-decoration: none;
  letter-spacing: 3px;
  text-shadow: 2px 5px rgba(0, 0, 0, 0.55);
}

.reviews-outline .reviews-holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.review .title-star-holder {
  display: flex;
  justify-content: space-between;
}

.review .name-date-holder {
  display: flex;
  justify-content: space-between;
}

.review {
  outline: 1px solid black;
  padding: 10px;
  background: #fff;
  box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.55);
}

.review .title-star- .date-posted {
  margin-top: 18px;
}

.main-holder .pagenum {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.main-holder .pagenum .pageinfo {
  color: #fff;
  padding-right: 15px;
}

.fa-star {
  color: #9051ff;
}

.fa-trash {
  color: #ea1d63;
  font-size: 20px;
}

.fa-trash:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.3s;
}

.fa-plus {
  float: right;
}

.fa-plus:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s;
}

/* Modal CSS */
.modal-top-1 {
  height: 100%;
}

.modal-top-1 h3 {
  text-align: center;
}

.modal-top-1 .modal-holder .modal-form-holder {
  display: flex;
  flex-direction: column;
}

.fa-times {
  float: right;
  color: darkgrey;
  cursor: pointer;
}

.modal-holder .modal-form-holder .form-input {
  text-align: center;
  margin-bottom: 5%;
}

.modal-holder .modal-form-holder .form-input input[type="text"] {
  width: 60%;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #9051ff;
  box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.55);
}

.modal-holder .modal-form-holder .form-input input[type="number"] {
  width: 10%;
  border-radius: 5px;
  border: 2px solid #9051ff;
  box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.55);
}

.modal-holder .modal-form-holder .form-input textarea {
  width: 60%;
  height: 100px;
  border-radius: 5px;
  border: 2px solid #9051ff;
  box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.55);
}

.modal-holder .modal-form-holder .form-input button[type="submit"] {
  background: #9051ff;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 10px;
  border: none;
  box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.55);
}

/* Modal CSS */

@media (max-width: 1050px) {
  .reviews-outline {
    height: auto;
    padding-bottom: 600px;
  }
}

@media (max-width: 767px) {
  .reviews-outline {
    height: auto;
    padding-bottom: 600px;
  }
  .reviews-outline .reviews-holder {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
}
