.user-outline {
  background: #03a9f4;
  padding: 15px;
  height: 100vh;
}

.user-outline .holder-user-app {
  outline: 1px solid red;
}

.user-outline .holder-user-app .title-holder h2 {
  text-align: center;
  padding: 2%;
  color: #fff;
  font-weight: 900;
  font-size: 4em;
  text-decoration: none;
  letter-spacing: 3px;
  text-shadow: 2px 5px rgba(0, 0, 0, 0.55);
  margin-bottom: 20px;
}
.user-outline .holder-user-app .user-app {
  display: flex;
}
.user-outline .holder-user-app .user-app .upcom-user-apps {
  background: #fff;
  width: 50%;
  text-align: center;
  margin: 1%;
  box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.55);
  height: 60vh;
}

.user-outline .holder-user-app .user-app .past-user-apps {
  text-align: center;
  background: #fff;
  width: 50%;
  margin: 1%;
  box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.55);
}
