#outside-day {
  padding-top: 60px;
  background: #03a9f4;
  height: 100vh;
}

#daycare-title {
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 4em;
  text-decoration: none;
  letter-spacing: 3px;
  text-shadow: 2px 5px rgba(0, 0, 0, 0.55);
}

.daycare-times {
  outline: 1px solid black;
}
