#outside-day {
  padding-top: 60px;
  background: #03a9f4;
  height: 100vh;
}

#daycare-title {
  text-align: center;
  color: #fff;
  text-shadow: 2px 5px rgba(0, 0, 0, 0.55);
  font-size: 3em;
  font-weight: 900;
}

.daycare-times {
  outline: 1px solid black;
}

.date-daycare-header {
  text-align: center;
  margin-bottom: 20px;
}
