<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <p>Hola Aleja,</p>
    <h3>Citas para hoy {{today}}</h3>
    <table>
      <thead>
        <tr>
          <th>Mascota</th>
          <th>hora de inicio</th>
          <th>hora de finalización</th>
          <th>fecha de nombramiento</th>
        </tr>
      </thead>

      <tbody>
        {% for dict in info %}
        <tr>
          {% for item, val in dict.items %}
          <td>{{val}}</td>
          {%endfor%}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
